page-home .content {
  background: #272528 url('assets/img/bg-run.jpeg') center top no-repeat;
}
.logo {
  margin: auto;
  display: block;
  height: 15rem;
}
.bottom {
  position: fixed;
  width: 90%;
  bottom: 6rem;
}
.spacer {
  height: 3rem;
}