// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.content {
  background: color($colors, primary, base);
}

.spacer-small {
  height: 3rem;
}
.spacer {
  height: 8rem;
}
.spacer-big {
  height: 12rem;
}

ion-menu .content {
  background: #000;
  color: #FFF;
}
ion-menu .no-spacing .button-block {
  margin: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
ion-menu .button-outline-md-primary {
  border: none;
  border-top: 2px solid color($colors, primary, base);
  color: #FFF;
}

ion-menu .welcome-text { 
  text-align: center;
  margin-top: 0;
  margin-bottom: 2.5rem;
  
  span {
    color: color($colors, primary, base);
  }
}

ion-menu .no-spacing .item-block .item-inner {
  border: none;
}
ion-menu .profile {
  margin: auto;
  border-radius: 100%;
  padding: 2rem;
  max-height: 180px;
  width: auto;
}